html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

@keyframes slide-up-item {
  0% {
    opacity: 0;
    transform: translate(0px, 40px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
@keyframes rotate-tickbox {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(180deg);
  }
}
.menu-container {
  max-width: 800px;
  margin: 0 auto;
  background: #fff;
}

.main-page-container {
  max-width: 800px;
  margin: 0 auto;
  background: #fff;
}

@media (min-width: 1024px) {
  .background-image {
    background: url("../../images/test2.jpg") no-repeat;
  }
}
@media (min-width: 1024px) {
  .the-full-palette-background-image {
    background: url("../../images/sole.jpeg") no-repeat;
  }
}
@media (min-width: 1024px) {
  .the-enchanted-plate-background-image {
    background: url("../../images/ravioli.jpg") no-repeat;
  }
}
@media (min-width: 1024px) {
  .bastille-background-image {
    background: url("../../images/scallops.jpg") no-repeat;
  }
}
@media (min-width: 1024px) {
  .le-gourmand-background-image {
    background: url("../../images/lobster.jpg") no-repeat;
  }
}
.heart-stack i {
  transition: opacity 0.3s ease-in-out;
  right: 200px;
  width: 35px;
  height: 35px;
}

.heart-filled {
  background: linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}

.heart-filled:hover {
  cursor: pointer;
  opacity: 1;
}

.footer {
  background-color: #444444;
  padding: 20px;
  width: 100%;
}
.footer a {
  text-decoration: none;
  color: #ffffff;
}
.footer > h3 {
  font-family: Shrikhand;
  color: #ffffff;
  padding: 10px 0;
}
.footer > a:link > p {
  margin: 5px 0;
}
.footer-icon {
  margin: 0 10px 0 0;
}
.footer-with-icon {
  display: flex;
  align-items: center;
}

* * {
  font-family: "Roboto", sans-serif;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.location {
  background-color: #dbdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 20px;
  padding: 15px 0;
}

.explore-restaurants {
  background-color: #e4e4e4;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  align-content: center;
}
.explore-restaurants > h2,
.explore-restaurants p {
  width: 75%;
}
.explore-restaurants > h2 {
  padding: 30px 0;
}

.explore-restaurants-btn {
  border: none;
  border-radius: 50px;
  color: #ffffff;
  background: linear-gradient(340deg, #9356dc, #ff79da);
  padding: 20px;
  margin: 20px 0;
  width: 280px;
}
.explore-restaurants-btn a {
  text-decoration: none;
  color: #ffffff;
}

.instruction {
  padding: 0 20px;
  font-weight: bold;
}
.instruction > h2 {
  padding: 40px 0 0 0;
}
.instruction > h2,
.instruction p {
  font-weight: bold;
}
.instruction_box {
  display: flex;
  align-items: center;
  background-color: #e4e4e4;
  position: relative;
  margin: 30px 10px;
  padding: 20px 0;
  border-radius: 20px;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(202, 202, 202, 0.795), 0 4px 8px 0 rgba(202, 202, 202, 0.795);
}
.instruction_box:hover {
  background-color: #ece5fa;
}
.instruction_box:hover .instruction_box-icon > i {
  color: #9356dc;
}
.instruction_box-number {
  border: 1px solid transparent;
  background-color: #9356dc;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -15px;
  border-radius: 50px;
  width: 30px;
  height: 30px;
}
.instruction_box-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 30px;
}
.instruction_box-icon > i {
  color: #797979;
}

.restaurant_content {
  background-color: #e4e4e4;
  padding: 20px;
}
.restaurant_content a {
  text-decoration: none;
  color: #000000;
}
.restaurant_content > h2 {
  font-weight: bold;
  padding: 20px 0;
  font-weight: bold;
}
.restaurant_content_new-label {
  background-color: #99e2d0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 80px;
  height: 30px;
  right: 5%;
  top: 5%;
  color: #1b8c1f;
  font-weight: 500;
  border-radius: 5px;
}
.restaurant_content_card {
  background-color: #ffffff;
  border-radius: 20px;
  height: 250px;
  width: 100%;
  position: relative;
  margin: 20px 0;
}
.restaurant_content_card > img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 160px;
  border-radius: 20px 20px 0 0;
}
.restaurant_content_text-and-heart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 10px 0;
}
.restaurant_content_table-content {
  display: inline-block;
  margin: none;
}
.restaurant_content_table-content > h3 {
  font-weight: bold;
}
.restaurant_content_table-content > h3,
.restaurant_content_table-content p {
  padding: 5px 20px;
}
.restaurant_content-heart {
  position: absolute;
  bottom: 60px;
  right: 60px;
}

.top-banner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-page-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  left: 20px;
}

.home-page-arrow a {
  color: black;
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
}

main {
  background-color: #e4e4e4;
}

.menu-box_content-img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.menu-box-container {
  background-color: #e4e4e4;
  border-radius: 40px 40px 0 0;
  padding: 20px;
  position: relative;
  width: 100%;
  top: -50px;
}
.menu-box_top {
  display: flex;
  align-items: flex-start;
  padding: 10px 0;
}
.menu-box_top > h1 {
  font-family: Shrikhand;
}
.menu-box_list_catagory {
  margin: 0 0 5px 0;
}
.menu-box_list_underline {
  display: block;
  border-top: 3px solid #99e2d0;
  width: 40px;
  margin-top: 5px;
}
.menu-box_item {
  height: 75px;
  padding: 15px 10px;
  margin: 10px 0;
  background-color: #ffffff;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
.menu-box_item > h3 {
  font-weight: bold;
  margin-bottom: 5px;
}
.menu-box_item_name_content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: margin 0.5s ease-in-out;
  margin-right: 60px;
}
.menu-box_item_price {
  display: flex;
  align-items: end;
  position: absolute;
  padding: 0 15px 10px 10px;
  top: 0;
  right: 0;
  height: 100%;
  font-weight: bold;
  transition: right 0.5s ease-in-out;
}
.menu-box_item_tickbox {
  height: 100%;
  width: 70px;
  border: 1px solid blue;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: -100px;
  border-radius: 0 20px 20px 0;
  color: #99e2d0;
  background-color: #99e2d0;
  transition: right 0.5s ease-in-out;
}
.menu-box_item_tickbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  transform: rotate(0deg);
  transition: all 0.5s ease-in-out;
}

.menu-box_item:hover .menu-box_item_name_content {
  margin-right: 178px;
}
.menu-box_item:hover .menu-box_item_price {
  right: 90px;
}
.menu-box_item:hover .menu-box_item_tickbox {
  right: 0;
}
.menu-box_item:hover .menu-box_item_tickbox-container {
  transform: rotate(360deg);
}

.slideup {
  animation: slide-up-item ease 1s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.slideup:nth-of-type(0) {
  animation-delay: 0.1s;
}

.slideup:nth-of-type(1) {
  animation-delay: 0.2s;
}

.slideup:nth-of-type(2) {
  animation-delay: 0.3s;
}

.slideup:nth-of-type(3) {
  animation-delay: 0.4s;
}

.slideup:nth-of-type(4) {
  animation-delay: 1.5s;
}

.heart-stack {
  position: absolute;
  right: 70px;
  top: 35px;
}

.order-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

button {
  border: none;
  border-radius: 50px;
  color: #ffffff;
  background: linear-gradient(340deg, #9356dc, #ff79da);
  padding: 20px;
  display: flex;
  margin: 50%;
  margin: 20px 0;
  height: 60px;
  width: 240px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
button a {
  text-decoration: none;
  color: #ffffff;
}