html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

@keyframes slide-up-item {
  0% {
    opacity: 0;
    transform: translate(0px, 40px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
@keyframes rotate-tickbox {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(180deg);
  }
}
.menu-container {
  max-width: 800px;
  margin: 0 auto;
  background: #fff;
}

.main-page-container {
  max-width: 800px;
  margin: 0 auto;
  background: #fff;
}

@media (min-width: 1024px) {
  .background-image {
    background: url("../../images/test2.jpg") no-repeat;
  }
}
@media (min-width: 1024px) {
  .the-full-palette-background-image {
    background: url("../../images/sole.jpeg") no-repeat;
  }
}
@media (min-width: 1024px) {
  .the-enchanted-plate-background-image {
    background: url("../../images/ravioli.jpg") no-repeat;
  }
}
@media (min-width: 1024px) {
  .bastille-background-image {
    background: url("../../images/scallops.jpg") no-repeat;
  }
}
@media (min-width: 1024px) {
  .le-gourmand-background-image {
    background: url("../../images/lobster.jpg") no-repeat;
  }
}
.heart-stack i {
  transition: opacity 0.3s ease-in-out;
  right: 200px;
  width: 35px;
  height: 35px;
}

.restaurant_content-heart i {
  transition: opacity 1s ease-in-out;
}

.heart-filled {
  background: linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}

.heart-filled:hover {
  cursor: pointer;
  opacity: 1;
}

* * {
  font-family: "Roboto", sans-serif;
}

.top-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
}

.location {
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 20px;
  padding: 15px 0;
}

.explore-restaurants {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  align-content: center;
}
.explore-restaurants > h2,
.explore-restaurants p {
  width: 75%;
}
.explore-restaurants > h2 {
  padding: 30px 0;
}

.explore-restaurants-btn {
  border: none;
  border-radius: 50px;
  color: #ffffff;
  background-image: linear-gradient(340deg, #9356dc, #ff79da);
  padding: 20px;
  margin: 20px 0;
  width: 280px;
  transition-duration: 1s;
}
.explore-restaurants-btn a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

.explore-restaurants-btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-position: right center;
  background: linear-gradient(0deg, #9356dc, #ff79da);
}

.footer {
  background-color: #444444;
  padding: 20px;
  width: 100%;
}
.footer a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}
.footer > h3 {
  font-family: Shrikhand;
  color: #ffffff;
  padding: 10px 0;
}
.footer > a:link > p {
  margin: 5px 0;
}
.footer-icon {
  margin: 0 10px 0 0;
}
.footer-with-icon {
  display: flex;
  align-items: center;
}

.footer-link:hover {
  text-decoration: underline;
}

.site-loader-container html,
.site-loader-container body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.site-loader-container .site-container {
  height: 100%;
  position: relative;
  padding: 0;
  margin: 0;
}
@keyframes pulse {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0.25;
    transform: scale(0.75);
  }
}
.site-loader-container .site-loader {
  animation: hideAnimation 0s ease-in 3s;
  opacity: 0.5;
  animation-fill-mode: forwards;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #f6f6f6;
  z-index: 1;
  opacity: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@keyframes hideAnimation {
  to {
    visibility: hidden;
    height: 0;
    width: 0;
  }
}
.site-loader-container .pulse-bubble-box {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.site-loader-container .pulse-bubble {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ff79da;
}
.site-loader-container .pulse-bubble-1 {
  animation: pulse 0.4s ease 0s infinite alternate;
}
.site-loader-container .pulse-bubble-2 {
  animation: pulse 0.4s ease 0.2s infinite alternate;
}
.site-loader-container .pulse-bubble-3 {
  animation: pulse 0.4s ease 0.4s infinite alternate;
}

.instruction {
  padding: 0 20px;
  font-weight: bold;
}
.instruction > h2 {
  padding: 40px 0 0 0;
}
.instruction > h2,
.instruction p {
  font-weight: bold;
}
.instruction_box {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  position: relative;
  margin: 30px 10px;
  padding: 20px 0;
  border-radius: 20px;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(202, 202, 202, 0.795), 0 4px 8px 0 rgba(202, 202, 202, 0.795);
  cursor: pointer;
}
.instruction_box:hover {
  background-color: #ece5fa;
}
.instruction_box:hover .instruction_box-icon > i {
  color: #9356dc;
}
.instruction_box-number {
  border: 1px solid transparent;
  background-color: #9356dc;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -15px;
  border-radius: 50px;
  width: 30px;
  height: 30px;
}
.instruction_box-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 30px;
}
.instruction_box-icon > i {
  color: #797979;
}

.restaurant_content {
  background-color: #f6f6f6;
  padding: 20px;
}
.restaurant_content a {
  text-decoration: none;
  color: #000000;
}
.restaurant_content > h2 {
  font-weight: bold;
  padding: 20px 0;
  font-weight: bold;
}
.restaurant_content_new-label {
  background-color: #99e2d0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 80px;
  height: 30px;
  right: 5%;
  top: 5%;
  color: #1b8c1f;
  font-weight: 500;
  border-radius: 5px;
}
.restaurant_content_card {
  background-color: #ffffff;
  border-radius: 20px;
  height: 250px;
  width: 100%;
  position: relative;
  margin: 40px 0;
}
.restaurant_content_card > img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 160px;
  border-radius: 20px 20px 0 0;
}
.restaurant_content_text-and-heart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 10px 0;
  position: relative;
}
.restaurant_content_table-content {
  display: inline-block;
  margin: 0;
}
.restaurant_content_table-content > h3 {
  font-weight: bold;
}
.restaurant_content_table-content > h3,
.restaurant_content_table-content p {
  padding: 5px 20px;
}
.restaurant_content-heart {
  position: absolute;
}

.restaurant_content_card:hover {
  transition-duration: 0.8s;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.home-page-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  left: 15px;
}

.home-page-arrow a {
  color: black;
  text-decoration: none;
}

main {
  background-color: #f6f6f6;
}

.menu-container {
  background-color: #f6f6f6;
}

.menu-box_content-img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.menu-box-container {
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  padding: 20px;
  position: relative;
  width: 100%;
  top: -50px;
}
.menu-box_top {
  display: flex;
  align-items: flex-start;
  padding: 10px 0;
}
.menu-box_top > h1 {
  font-family: Shrikhand;
}
.menu-box_list {
  padding-bottom: 30px;
}
.menu-box_list_catagory {
  margin: 0 0 5px 0;
}
.menu-box_list_underline {
  display: block;
  border-top: 3px solid #99e2d0;
  width: 40px;
  margin-top: 5px;
}
.menu-box_item {
  height: 75px;
  padding: 15px 10px;
  margin: 10px 0;
  background-color: #ffffff;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
.menu-box_item > h3 {
  font-weight: bold;
  margin-bottom: 5px;
}
.menu-box_item_name_content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: margin 0.5s ease-in-out;
  margin-right: 60px;
}
.menu-box_item_price {
  display: flex;
  align-items: end;
  position: absolute;
  padding: 0 15px 10px 10px;
  top: 0;
  right: 0;
  height: 100%;
  font-weight: bold;
  transition: right 0.5s ease-in-out;
}
.menu-box_item_tickbox {
  height: 100%;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: -100px;
  border-radius: 0 20px 20px 0;
  color: #99e2d0;
  background-color: #99e2d0;
  transition: right 0.5s ease-in-out;
}
.menu-box_item_tickbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  transform: rotate(0deg);
  transition: all 0.5s ease-in-out;
}

.menu-box_item:hover .menu-box_item_name_content {
  margin-right: 178px;
}
.menu-box_item:hover .menu-box_item_price {
  right: 90px;
}
.menu-box_item:hover .menu-box_item_tickbox {
  right: 0;
}
.menu-box_item:hover .menu-box_item_tickbox-container {
  transform: rotate(360deg);
}

.menu-box_item {
  animation-name: slide-up-item;
  animation-duration: 1s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.slideup-1 {
  animation-delay: 0.3s;
}
.slideup-2 {
  animation-delay: 0.6s;
}
.slideup-3 {
  animation-delay: 0.9s;
}
.slideup-4 {
  animation-delay: 1.2s;
}
.slideup-5 {
  animation-delay: 1.5s;
}
.slideup-6 {
  animation-delay: 1.8s;
}
.slideup-7 {
  animation-delay: 2.1s;
}
.slideup-8 {
  animation-delay: 2.4s;
}
.slideup-9 {
  animation-delay: 2.7s;
}
.slideup-10 {
  animation-delay: 3s;
}

.heart-stack {
  position: absolute;
  right: 70px;
  top: 35px;
}

.order-btn {
  border: none;
  border-radius: 50px;
  color: #ffffff;
  background-image: linear-gradient(340deg, #9356dc, #ff79da);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: auto;
  width: 280px;
  transition-duration: 1s;
  margin-top: 50px;
}
.order-btn a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

button {
  border: none;
  border-radius: 50px;
  color: #ffffff;
  background-image: linear-gradient(340deg, #9356dc, #ff79da);
  padding: 20px;
  display: flex;
  margin: 50%;
  margin: 20px 0;
  height: 60px;
  width: 240px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  transition-duration: 1s;
}
button a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-position: right center;
  background: linear-gradient(0deg, #9356dc, #ff79da);
}

.order-btn:hover {
  transition-duration: 0.8s;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}