.heart-stack i {
  border: 1px solid red;
  transition: opacity 0.3s ease-in-out;
  right: 200px;
  width: 35px;
  height: 35px;
}

.heart-filled {
  background: linear-gradient($color-primary, $color-secondary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}

.heart-filled:hover {
  cursor: pointer;
  opacity: 1;
}
