@keyframes slide-up-item {
  0% {
    opacity: 0;
    transform: translate(0px, 40px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes rotate-tickbox {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(180deg);
  }
}
