$font-family: Roboto;
$font-logo-style: Shrikhand;

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tretiary: #99e2d0;
$platinum-grey: #dbdbdb;
$silvery-white: #e4e4e4;
$white: #ffffff;
$dark-grey: #444444;
$black: #000000;
$dark-green: #1b8c1f;
$bright-grey: #eaeaea;
$light-grey: #f6f6f6;
